<h2>{{ 'now'|localizeddate('full', 'none', 'es_AR', null, "cccc, d 'de' MMMM 'de' Y") }}</h2>    
<h1><span class="semi-bold">{{ 'now'|localizeddate('full', 'none', 'es_AR', null, "H:mm") }}</span></h1>