{% extends 'TerminalAdminBundle::admin_layout.html.twig' %}


{% block main_content %}
<div class="page-title"> <i class="icon-custom-left"></i>
    <h3>Página <span class="semi-bold">No Encontrada</span></h3>
</div> 
<div class="row-fluid">
    <div class="span12">
        <div class="grid simple horizontal red">
            <div class="grid-title no-border"></div>
            <div class="grid-body no-border">
                <p>La página solicitada no se encuentra. Asegúrese de haber escrito correctamente la dirección o contacte al administrador del sistema.</p>
            </div>
        </div>
    </div>
</div>
    {% endblock %}